// CSS Debugging
//
// Toggle layout debugging with CSS Pesticide.
//
// $pesticide-debug-outline - {boolean} adds outlines to all elements.
// $pesticide-debug-depth - {boolean} adds shadows to all elements.
// @source - http://pesticide.io/
$pesticide-debug-outline: false;
$pesticide-debug-depth: false;
// ==========================================================================
// $bourbon
// ==========================================================================
// ==========================================================================
// $Libs
// ==========================================================================
@import 'libs/indexLib';
// ==========================================================================
// $Utilities
// ==========================================================================
@import 'utilities/index';
// ==========================================================================
// $Base
// ==========================================================================
@import 'base/indexbase';
// ==========================================================================
// $Layout
// ==========================================================================
@import 'layout/indexLayout';
// ==========================================================================
// $Atoms
// ==========================================================================
@import 'atoms/index';
// ==========================================================================
// $Molecules
// ==========================================================================
@import 'molecules/indexmole';
// ==========================================================================
// $Organisms
// ==========================================================================
@import 'organisms/organisms';
// ==========================================================================
// $States
// ==========================================================================
@import 'states/states';
// ==========================================================================
// $Overrides
// ==========================================================================
@import 'overrides/index';
// ==========================================================================
// $Print
// ==========================================================================
@import 'states/print';
// ==========================================================================
// $Fonts
// ==========================================================================
@import 'utilities/index';
// ==========================================================================
// $Shame
// ==========================================================================
@import 'shame';
.container {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    h1 {
        width: 100%;
        height: 200px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 255%;
        color: mix($color-notice, $color-warning, 15%);
        font-family: $font-breeSerif;
    }
    .row {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-content: center;
        max-height: 100%;
        max-width: 100%;
        border: 4px solid blue;
        article {
            color: aliceblue;
            //background: green;
            border: 1.4px solid black;
        }
        .column {
            align-items: stretch;
            margin: 1%;
            width: calc(100%/4);
            p {
                align-self: center;
            }
        }
    }
}

#sociaux {
    width: 80%;
    margin: 0 10%;
    height: 300px;
    h2 {
        height: 90%;
        background: white;
        color: chocolate;
        @include border-top-radius(5px);
    }
    a#strava {
        font: 11px Helvetica, Arial, sans-serif;
        background: url('http://badges.strava.com/logo-strava-echelon.png') no-repeat 10px center #FC4C02;
        display: inline-block;
        color: #fff;
        padding: 5px 10px 5px 30px;
        white-space: nowrap;
        text-decoration: none;
        border-radius: 3px;
        img {
            margin-left: 2px;
            vertical-align: text-bottom;
        }
    }
}
