# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

node_modules/
dist/
/scss/utilities/_fonts.css.map
/scss/styles.css
/scss/styles.css.map
/scss/utilities/_fonts.css
/scss/libs/_normalize.css.map
/scss/libs/_normalize.css
